{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if
            object.path is defined and
            object.path != null
        %}
            <img src="{{ asset(object.path) }}" style="max-width: 50px">
        {% elseif
            object.image is defined and
            object.image.path is defined and
            object.image.path != null
        %}
            <img src="{{ asset(object.image.path) }}" style="max-width: 50px">
        {% else %}
            <span>No image</span>
        {% endif %}
    </div>
{% endblock %}